@tailwind base;
@tailwind components;
@tailwind utilities;
  

::-webkit-scrollbar-thumb {
    background-color: #65a30d;

}
*{
    font-family:georgia, serif;
    
}
h1 {
    font-family:SpaceGrotesk-Light;

}
h2 {
    font-family:SpaceGrotesk-Medium;

}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    animation: gradient-animation 5s ease infinite;
  }
  
  .classit {
    background: linear-gradient(
      to right,
      #333333, 
      #1a1a1a, 
      #121212, 
      #000000,  
      #1f1f1f,  
      #292929 
    );
    background-size: 400% 400%;
    animation: body 10s infinite ease-in-out;
  }
  
  @keyframes body {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }



   @keyframes spin-slow {
     from {
         transform: rotate(0deg);
       }
       to {
         transform: rotate(360deg);
       }
     }
     .animate-spin-slow {
       animation: spin-slow 3s linear infinite;
     }

/* 
loader logo  */

@keyframes expand {
  0% {
    width: 0;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

.animate-expand {
  animation: expand 2s infinite;
}

.green_bg {
  --tw-bg-opacity: 1;
  background-color: rgb(3 30 30 / var(--tw-bg-opacity));
}

